html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}
/*^^^style reset^^^*/

/* Breakpoints:  

@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... } 

*/

:root {
    /*  Colors  */
    --bgcolor-dark: #1F2937;
    --bgcolor-quote: #E5E7EB;
    --text-primary: #F9FAF8;
    --text-secondary: #E5E7EB;
    --text-dark: #1F2937;
    --tirtiary: #3882F6;
    --button: #3882F6;
}

*{
    font-family: sans-serif;
    /*test borders*
    border: 1px solid red;
    */
}

/* page content settings */
.content { 
	max-width: 1080px; 
	margin: 0 auto !important;
    padding: 0 20px;
	float: none !important; 
}
button {
    cursor: pointer;
}


/* navbar section */
nav {
    background: var(--bgcolor-dark);
    color: var(--text-primary);
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -1.5px;
}
.logo span {
    margin-right: -2px;
}
.links {
    display: flex;
    gap: 2rem;
    margin: auto 0;
}
.link {
    text-decoration: none;
    color: var(--text-secondary);
    position: relative;
}
.link::after {
    background-color: var(--text-primary);
    content: "";
    width: 0;
    height: 2px;
    left: 0;
    bottom: -3px;
    transition: width 0.35s ease 0s;
    position: absolute;
    overflow: hidden;
  }
.link:hover::after {
width: 100%;
}

@media (max-width: 767.98px) { 
    .link {
        display: none;
    }
}
/* ----------- */

/* hero section */
.hero {
    background-color: var(--bgcolor-dark);
    padding: 4rem 0;
    color: var(--text-primary);
}
.hero > .content {
    display: flex; 
    gap: 4rem;
}
.hero .left {
    flex-direction: column;
}
.hero .right {

}
.hero .title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 8px;
}
.hero .subtitle {
    font-size: 18px;
    color: var(--text-secondary);
    margin-bottom: 8px;
}
.hero button {
    background-color: var(--button);
    color: var(--text-primary);
    border: none;
    border-radius: 4px;
    padding: 8px 32px;
    font-size: 16px;
    font-weight: bold;
}
.hero button:hover {
    background-color: var(--text-primary);
    color: var(--button);
}
.hero img {
    border-radius: 10px;
}

@media (max-width: 767.98px) {
    .hero > .content {
        display: flex;
        flex-direction: column;
    }
}
/* ----------- */

/* section one */
.sec1 {
    text-align: center;
    padding-bottom: 100px;
}
.sec1 .title {
    font-size: 34px;
    font-weight: bold;
    color: var(--text-dark);
    padding: 40px;
    white-space: nowrap;
    overflow: hidden;
}
.sec1 .quad {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}
.sec1 .unit {
    width: 140px;
}
.sec1 img {
    border: 4px solid var(--bgcolor-dark);
    border-radius: 18px;
}
.sec1 .subtext {
    font-size: 16px;
    color: var(--text-dark);
}

@media (max-width: 767.98px) {
    .sec1 .title {
        font-size: 24px;
    }
    .sec1 .unit {
        width: 210px;
    }
}
@media (max-width: 575.98px) { 
    .sec1 .title {
        padding: 30px 0;
        font-size: 22px;
    }
    .sec1 .unit {
        width: 100px;
    }
}
/* ----------- */

/* section two */
.sec2 {
    background-color: var(--bgcolor-quote);
    padding: 80px;
}
.sec2 > .content{
    max-width: 700px;
}
.sec2 .quote {
    font-size: 28px;
    font-style: italic;
    color: var(--text-dark);
    line-height: 34px;
}
.sec2 .subquote {
    font-size: 22px;
    font-weight: bold;
    text-align: right;
    margin-top: -4px;
    margin-right: 20px;
}
@media (max-width: 767.98px) {
    .sec2 {
        background-color: var(--bgcolor-quote);
        padding: 80px 20px;
    }
    .sec2 .quote {
        font-size: 22px;
        line-height: 30px;
    }
    .sec2 .subquote {
        font-size: 18px;
        margin-top: 4px;
        margin-right: 10px;
    }
}
/* ----------- */

/* section three */
.sec3 {
    color: var(--text-primary);
}
.sec3 .container {
    background-color: var(--tirtiary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 0;
    padding: 50px 100px;
    border-radius: 12px;
}
.sec3 .right {
    margin: auto 0;
}
.sec3 button {
    background-color: var(--button);
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 8px 32px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}
.sec3 button:hover {
    background-color: var(--text-primary);
    color: var(--button);
}
@media (max-width: 767.98px) {
    .sec3 .container {
        flex-direction: column;
        padding: 40px;
        gap: 20px;
    }
    .sec3 .left h1{
        margin-bottom: 8px;
    }
}
/* ----------- */

/* footer */
footer {
    background-color: var(--bgcolor-dark);
    color: var(--text-primary);
    padding: 20px 0;
    display: flex;
}
